@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

/*------------ Sidebar ----------------*/

.sidebar-link:hover {
    transition: 150ms;
    color: lightpink;
}

.sidebar-link {
    color: #1B1725;
    margin: 10px 0;
}

.contact-link {
    color: lightcoral;
    text-decoration: underline;
}

.contact-link:hover {
    cursor: pointer;
}

.close-button {
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    justify-items: flex-end;
}

/*------------ Gallery ----------------*/
.gallery-video {
    object-fit: cover;
    padding: 2px;
    width: 50%;
    height: auto;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 0;
  margin: 0;
}

.gallery img {
  width: 200px;
  height: 200px;
  margin: 2px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: 0;
}

.gallery-video:hover {
    transform: scale(1.1);
    cursor: pointer;
    z-index: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 640px) {
    .gallery {
        margin: 0 2rem;
    }
    .gallery-img {
        width: 10rem;
        box-shadow: #1B1725 ;
    }

    .gallery-video {
        width: 20rem;
    }

    .modalImg {
        width: 90%;
    }
}

@media screen and (max-width: 640px) {
    .gallery {
        margin: 4rem auto;
        
    }

    .gallery img {
        width: 10rem;
    }

    .modalImg {
        width: 80%;
    }
}


/* --------- Modal --------- */

.overlay {
    background-color: rgba(255, 255, 255, 0.692);
}

.modal {
    /* background-color: rgba(240, 128, 128, 0.171); */
    width: 100%;
    z-index: 3;
}

.modalImg {
    max-height: 50rem;
    box-shadow: rgba(0, 0, 0, 0.301) 1px 1px 5px;
    z-index: 3;
}

.modalLink {
    margin-top: 10px;
    padding: 7px 30px;
    border-radius: 10px;
    background-color: pink;
    transition: 150ms;
    font-size: medium;
}

.modalLink:hover {
    background-color: lightcoral;
    color: white;
    transform: scale(1.1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.247);
}