@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

/*------------ Sidebar ----------------*/

.sidebar-link:hover {
    transition: 150ms;
    color: lightpink;
}

.sidebar-link {
    color: #1B1725;
    margin: 10px 0;
}

.contact-link {
    color: lightcoral;
    text-decoration: underline;
}

.contact-link:hover {
    cursor: pointer;
}

.close-button {
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    justify-items: flex-end;
}

/*------------ Gallery ----------------*/

.gallery {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-video {
    object-fit: cover;
    padding: 2px;
    width: 50%;
    height: auto;
}

.gallery-img {
    object-fit: cover;
    padding: 2px;
    width: 50%;
    height: auto;
}

@media screen and (min-width: 640px) {
    .gallery {
        margin: 0 2rem;
    }
    .gallery-img {
        width: 10rem;
        box-shadow: #1B1725 ;
    }

    .gallery-video {
        width: 20rem;
    }
}

@media screen and (max-width: 640px) {
    .gallery {
        margin: 4rem auto;
    }
}

.gallery-img:hover {
    cursor: pointer;
}

/* --------- Modal --------- */

.overlay {
    background-color: rgba(255, 255, 255, 0.692);
}

.modal {
    /* background-color: rgba(240, 128, 128, 0.171); */
    width: 100%;
}

.modalContainer {
    width: 90%;
}

.modalImg {
    max-height: 50rem;
    box-shadow: rgba(0, 0, 0, 0.301) 1px 1px 5px;
}