@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-link:hover {
    transition: 150ms;
    color: lightpink;
}

.sidebar-link {
    margin: 10px 0px;
}

.close-button {
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    justify-items: flex-end;
}

.dummyDiv {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 1px solid red;
    margin: 1px;
}

.contact-header {
    padding: 2rem;
}

.contact-link {
    color: lightcoral;
    text-decoration: underline;
}

.contact-link:hover {
    cursor: pointer;
}